body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column; /* Это добавлено для вертикального расположения элементов */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sentence {
    font-size: 32px;
    cursor: pointer;
}

#textInput {
    margin-top: 10px; /* Это добавлено для отступа строки ввода от предложения */
    font-size: 32px; /* Размер шрифта строки ввода */
    text-align: center;
    vertical-align: middle;
    width: 150px;
}

/* Добавляем стили для проверочного сообщения */
.verification-message {
    font-size: 32px;
    color: #333;
    margin-top: 10px;
}